body {
  background-color: rgba(18, 109, 160, 255);
}
.container{
    background-color:white;
    display: flex;
    flex-direction: column;
}
#form_cont{
    margin: 20px;
    font-size: 30px;
}
input{
    width:35%;
    font-size: 20px;
}
h1{
    text-align: center;
    border-bottom: 4px rgba(18, 109, 160, 255);
    display: inline-block;
}
.title{
    padding-top: 10px;
    border-bottom: 3px solid rgba(18, 109, 160, 255);
    text-align: center;
}

main{
    padding-top: 20px;
    margin: auto;
    flex:1;
    width: 95%;
}
select{
    width: 150px;
    font-size: 20px;
}
div.spacing{
    margin-bottom: 25px;
}
div.small_txt{
    font-size: 20px;
    color: rgba(18, 109, 160, 255);
}
input.small{
    width:6%;
}
input[type=text]:focus{
  outline: 2px solid rgba(18, 109, 160, 255);     /* oranges! yey */
}
input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.button{
    color:white;
    background-color: green;
}
.hidden{
    display: none;
    background-color: rgba(40,167,69,255);
    color: white;
}
a{
    color:white;
    text-decoration: none;
}